---
import Navbar from "../components/Navbar.astro";

import SEO from "../components/SEO.astro";

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  image?: string;
  canonicalURL?: string | URL;
  type?: string;
}

const { title, description, keywords, image, canonicalURL, type } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      title={title}
      description={description}
      keywords={keywords}
      image={image}
      canonicalURL={canonicalURL}
      type={type}
    />
  </head>

  <body>
    <Navbar />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Lexend", sans-serif;
    scroll-behavior: smooth;
  }
</style>
